body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(/public/e3c76796ff7360381643f82e2743e6f1.jpg);
}
.title {
    color: #0baf94;
    font-size: 50px;
    font-weight: 700;
    text-shadow: 3px 3px #f90;
}
.sub-title {
    color: #f90;
    font-size: 30px;
    font-weight: 900;
    text-shadow: 3px 3px #0baf94;
}
.header-container {
    text-align: center;
}
.division {
    border-bottom: 4px solid rgba(255,41,41,.555);
    height: 1px;
    width: 45%;
    margin: 20px auto;
}
.group-img {
    display: flex;
    justify-content: center;
    gap: 50px;
    position: relative;
}
.left-column {
    width: 100%;
    max-width: 300px;
    height: 300px;
    background-color: #fff;
    border: 15px solid #0baf94;
    border-radius: 40px;
    display: inline-block;
    padding: 50px;
    position: sticky;
    top: calc(50% - 205px);
    text-align: center;
}
.avatar-wrapper {
    position: relative;
    width: 200px;
    height: 280px;
}
.avatar {
    width: 260px;
    position: absolute;
    top: -25px;
    left: 25px;
}
.right-column {
    width: 900px;
}
.text-center {
    text-align: center;
}
.button {
    background-color: #ca5119;
    border: none;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    margin: 0 10px;
    padding: 10px;
    text-transform: uppercase;
}
.button:hover {
    background-color: #a5510d;
}
.list-item .title-item {
    color: #a5510d;
    text-align: center;
    text-transform: capitalize;
    font-size: 24px;
}
.list-item .img-item {
    background-color: rgba(255, 166, 0, .4);
    border: 5px solid orange;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    padding: 20px;
}
.img-item .item {
   border: 1px solid #686868d5;
   border-radius: 20px;
   margin-left: 20px;
   cursor: pointer;
}
.item:hover {
    background-color: rgb(251, 251, 6);
}
.item:active {
    background-color: rgb(251, 251, 6);}

@media only screen and (max-width: 900px) {
    .group-img {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left-column {
        position: relative;
    }
    .right-column {
        width: 500px;
    }
}
@media only screen and (max-width: 600px) {
    .group-img {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left-column {
        position: relative;
        width: 200px;
    }
    .avatar {
        position: absolute;
        left: -20px;
    }
    .right-column {
        width: 300px;
    }
}

